{% extends "base.html.twig" %}

{% block main %}

    <main>
        <article>
            <h2>{{ book.title }}</h2>
            <h3>{{ book.author }}</h3>
            <em> Published on :{{ book.publishedAt | date ('m/d/y') }}</em>
            <a class="a_list" href="{{ path('book_remove',{'id': book.id}) }}">Supprimer</a>


        </article>
    </main>

{% endblock main %}