{% extends "base.html.twig" %}

{% block main %}

<main>
    <div class="banner">
        <h1>Welcome</h1>
        <h2>Books are knowledge, enjoy !</h2>
    </div>
    <section class="section">
            {% for books in home %}
                <div class="card">
                    <div class="card-text">
                        <h2>{{ books.title }}</h2>
                        <h3>{{ books.author.firstname }}</h3>
                    </div>
                    <div class="card-image">
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock main%}